@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.site-navbar {
    background-color: #001514;
    font-family: 'Merriweather' , serif;
    box-shadow: 1px 1px 3px rgba(33, 21, 21, 0.5);
    z-index: 99;
}

.site-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.site-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-red);

}

.banner {
    background:linear-gradient(#a3001690,#001514), url(./img/Banner2.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 800px;
    font-family: 'Merriweather' , serif;
}

.title {
    color: #ffffff;
}

.summary {
    color: #ffffff;
}
.avilable {
    background:linear-gradient(#001514a5,#001514), url(./img/garage2.jpeg) center center fixed no-repeat;
    background-size: cover;
    height: 800px
}

.btn-order {
    color: var(--bs-red);
    border-color: var(--bs-red);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
    color:rgb(255, 255, 255);
    background-color: var(--bs-red);
}

.horaires {
    background:linear-gradient(#a3001590,#001514), url(./img/Méchanique.webp) center center fixed no-repeat;
    background-size: cover;
    height: 800px;
    font-family: 'Merriweather' , serif;
}

.container-1 {
    background:linear-gradient(#001514,#001514);
}
.label-color{
    color: #ffffff;
}
.container-2{
    background:linear-gradient(rgba(35, 31, 31, 0.774),rgba(0, 0, 0, 0.332)), url(./img/garagiste.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 800px
}

.container-3{
    background:linear-gradient(rgba(35, 31, 31, 0.774),rgba(0, 0, 0, 0.332)), url(./img/garagiste2.webp) center center fixed no-repeat;
    background-size: cover;
    height: 800px
}

.text-h,
.date {
    color: #ffffff;
}
